.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.main-nav {
   min-height: 60px;
   display: flex;
   flex-direction: row;
   background-image: linear-gradient(pink, rgba(0,0,0,.7));
}
nav {
  width: 40%;
  display: flex;
  margin-left:100px;
  justify-content: space-around;
  padding-top:14px;  
}

a {
  text-decoration: none;
}

.form-login {
  margin-top: 80px;
}
